2.	Create an event log that retains only the attributes caseid, activity, timestamp, resource and outcome. Rename the attributes as “caseid, activity, ts, resource, outcome” if names are different (note: for BPIC17 the outcome label is “(case) Accepted”, for the small log the outcome label is “resource_anomaly_type”)

--> log_bpic.csv

In [2]:
import pandas as pd

log_bpic = pd.read_csv("log_bpic.csv", index_col=0)
log_bpic

,caseid,activity,ts,resource,outcome
0,Offer_247135719,O_Create Offer,2016/01/02 18:17:05.720,User_17,True
1,Offer_247135719,O_Created,2016/01/02 18:17:08.762,User_17,True
2,Offer_247135719,O_Sent (online only),2016/01/02 18:19:21.330,User_17,True
3,Offer_247135719,O_Cancelled,2016/01/02 18:21:26.034,User_17,True
4,Offer_941964966,O_Create Offer,2016/01/02 18:21:42.022,User_17,True
...,...,...,...,...,...
22404,Offer_1064426652,O_Create Offer,2016/02/18 22:50:01.446,User_23,True
22405,Offer_1064426652,O_Created,2016/02/18 22:50:02.655,User_23,True
22406,Offer_1064426652,O_Sent (mail and online),2016/02/18 22:50:22.174,User_23,True
22407,Offer_1064426652,O_Returned,2016/02/29 19:08:56.200,User_117,True
22408,Offer_1064426652,O_Accepted,2016/02/29 23:43:45.831,User_102,True

4.	Create a function to filter the prefixes of length L for the event log created at step 2. This function retains only the first L events of all cases that have at least L events.